/* ----- сброс ----- 24navo.com*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* ----- /сброс ----- */

/* ----- базовые настройки ----- 24navo.com*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #828282;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #00a8ff;
	text-decoration: underline;
}
a:hover {
	color: #00a8ff;
	text-decoration:none;
}
a:focus, a:active {
	color: #00a8ff;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

/* ----- /базовые настройки 

#333333 - темный (заглавия)
#828282 - средний (основной текст, активные ссылки у рамок и серого текста, иконки)
#d3d3d2 - светлый (рамка)
#00a8ff - синий (ссылки)----- */



.main-top{
	max-width: 1166px;
	margin: 0 auto;
}
.header-top{
	padding: 25px 0 20px 0;
	border-bottom: 1px solid #828282;
}
.asus{
	float: left;
}
.tel-basket{
	float: right;
}
.tel-basket p{
	float: left;
	font-size: 12;
	font-weight: 700;
}
.tel-basket p img{
	margin: 4px;
	vertical-align: middle;
}
.basket{
	border: 2px solid  #d3d3d2;
	padding: 6px 24px;
	margin-left: 19px;
}
.tel{
	margin-top: 7px;
}
.basket a{
	text-decoration: none;
	color: #828282;
	margin-left: 19px;
}
.basket a:hover{
	color:#00a8ff;
}
.header-buttom{
padding: 11px 0;
}
.menu{
	float: left;
}
.menu li{
	float: left;
	margin-right: 28px;
	font-size: 14pt;
	text-transform: uppercase;
}
.menu li a{
	text-decoration: none;
	color: #828282;
	font-weight: 700;
}
.menu li a:hover{
	color: #00a8ff;
}
.active{
	color: #333;
	font-weight: 700;
}
.search-top{
	float: left;
}
.search-img{
	float: left;
	margin: 4px 4px 0 0;
}
.search{
	float: left;
	border: none;
	font-size: 14pt;
}
.search-top{
	margin-top: -1px;
}
.unslider-nav{
	max-width: 1166px;
	margin: 0 auto;
	position: relative;
top: -30px;
}
.my-slider ul li{
	position: relative;
}
.my-slider ul li h1 {
	position: absolute;
	color: gold;
	font-size: 50px;
	left: 100px;
	top: 180px;
}
.my-slider ul li p {
	position: absolute;
	color:#897FD8;
	font-size: 30px;
	left: 100px;
	top: 250px;
}
.main-middle3 article a img{
	border: 1px solid #d3d3d2;
	margin: 0 auto 18px auto;
	display: block;	
}
.main-middle3 article a:hover img{
	border: 1px solid #333;
}
.main-middle3 article a:hover{
	color: #828282;
	text-decoration: none;
}
.main-middle3 article{
	width: 32.07%;/* 374/1166=0,3207*100=32,07 */
	float: left;
	margin-right: 1.895%; /* 32,07*3(количество картинок с ноутами)=96,21%  100%-96,21%=3,79% 3,79%/2=1,895% */
}
.main-middle3 article:last-child{
	margin-right: 0;
}
.main-middle3 article h2{
	font-size: 18px;
	margin-bottom: 10px;
}
.main-middle3{
	margin:10px auto 45px auto;
}
/* Смартфоны-товары*/
.main-middle4-section{
	/* background: gold; */
	margin-bottom: 50px;
}
.main-middle4-article{
	/* background:pink; */
}
.main-middle4-article article{
	/* background: yellow; */
	border: 1px solid #d3d3d2;
	width:22.9%; /* 268(ширина 1 й картинки)/1166(ширина всего блока)=0,2298*100=22,98*4(количество картинок)=91,94-100%=8,06/3(количество растояний между картинками)=2,6872(это и есть отступ справа между картинками) */
	margin-right:2.45%;
	float: left; 
}
.main-middle4-article article:last-child{
	margin-right: 0;
}
.main-middle4-section >h2{
	font-size: 28pt;
	color: #333333;
	text-align: center;
	margin-bottom: 28px;
}
.main-middle4-article article img{
	margin: 0 auto;
	display: block;
}
.main-middle4-material{
	padding: 18px;
}
.main-middle4-material h2 a{
	font-size: 16pt;
	color:black;
	text-transform: uppercase;
	margin-bottom: 4px;
}
.main-middle4-material h3{
	font-size: 12pt;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.main-middle4-material p{
	font-size: 10pt;
	color:black;
	margin-bottom: 12px;
}
p.cost-order{
	border-top: 1px solid #d3d3d2;
	font-size: 14pt;
	color: #333333;
	padding: 14px 0 0 0;
	margin-top: 14px;
}
.cost{
	float: left;
}
.order{
	float:right;
}
/* /Смартфоны-товары*/

/* О компании ASUS */
.map0{
	margin-bottom: 50px;
}
.map0 article {
	float: left;
	width: 55%;
}
.map1{
	float: right;
	width: 40%;
}
.map0 article h1{
	font-size: 16pt;
	color: #333;
	font-weight: bold;
	margin-bottom: 20px;
}
.map0 article p{
	font-size: 12pt;
	color:#828282;
	margin-bottom: 15px;
}
.mapifr{
	position: relative;
	padding-bottom: 58%;
	height: 0;
	overflow: hidden;
	margin-top: 20px;
}
.mapifr iframe{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
/* /О компании ASUS*/

/*Загрузки Руководства,Драйверы и Программы */
.drivers-100{
	background: #d3d3d2;
	color: #333;
	padding: 28px 0;
}
.drivers-100 h3{
float: left;
font-size: 22,5pt;
color: #333;
text-transform: uppercase;
}
.drivers-form{
	float: right;
	margin: 8px 0 0 0;
}
.drivers-models{
	float: left;
	font-size: 14pt;
	width: 210px;
	padding: 6px 15px;
	border: none;
}
.drivers-submit{
	float: right;
	border: none;
	font-size: 14pt;
	width: 100px;
	margin-left: 19px;
	background: #333;
	color:#d3d3d2;
	padding: 6px 15px;
	cursor: pointer;
}
/* /Загрузки Руководства,Драйверы и Программы*/

/*Футер*/

.foot{
	background-color: #333;
	padding: 38px 0;
}
.foot .main-middle4-article article{
	border: none;
}
.foot h2{
	color: white;
	font-size: 16pt;
	margin-bottom: 9px;
	text-transform: uppercase;
}
.foot p a{
	color: #d3d3d2;
	display: block;
	font-size: 12pt;
	text-decoration: none;

}
.foot p a:hover{
	color: #00a8ff;
	text-decoration: underline;
}
.foot h3{
	color: #d3d3d2;
	margin-top: 15px;
}
.foot-email{
	width: 100%;
	text-transform: uppercase;
	font-size: 10pt;
	padding: 6px 15px;
	margin-bottom: 14px;
	box-sizing: border-box;
	border: none;
}
.foot-textarea{
	width: 100%;
	text-transform: uppercase;
	font-size: 10pt;
	padding: 6px 15px;
	margin-bottom: 14px;
	box-sizing: border-box;
	border: none;
}
.foot-submit{
	background: #d3d3d2;
	color: #333;
	text-transform: uppercase;
	font-size: 10pt;
	padding: 6px 15px;
	margin-bottom: 14px;
	box-sizing: border-box;
	cursor: pointer;
}
/* /Футер*/

@media screen and (max-width:970px){
	.drivers-100 h3{
		float: none;
		text-align: center;
		}
		 .drivers-form, .drivers-submit, .drivers-models{
			float: none;
			 margin: 20px auto 0 auto; 
			 display: table;
		}	 
} 
@media screen and (max-width:780px) {
	.main-middle4-article article{
		/* background: yellow; */
		width:45%; /* 268(ширина 1 й картинки)/1166(ширина всего блока)=0,2298*100=22,98*4(количество картинок)=91,94-100%=8,06/3(количество растояний между картинками)=2,6872(это и есть отступ справа между картинками) */
		/* margin:0 1,5% 25px 2%; */
		margin: 10px 10px;
	}
	.main-middle4-article article:last-child{
		margin:0 1,5% 25px 2%;
	}
}
@media screen and (max-width:685px) {
	.search-top{
		float: right;
		border-bottom: 1px solid #d3d3d2;
		border-top: 1px solid #d3d3d2;
		padding: 6px 0;
	}
	.my-slider ul li h1 {
		font-size: 30px;
		left: 100px;
		top: 80px;
	}
	.my-slider ul li p {
		font-size: 17px;
		left: 100px;
		top: 150px;
	}
	.map0 article {
		float: none;
		width: 95%;
		margin: 0 2,5% 25px 2,5%;
	}
	.map1{
		float: none;
		width: 95%;
		margin: 0 2,5% 25px 10px;
	}
}
@media screen and (max-width:600px){
	.main-middle3 article{
		width: 95%;/* 374/1166=0,3207*100=32,07 */
		float:none;
		margin: 0 2,5% 25px 2,5%; /* 32,07*3(количество картинок с ноутами)=96,21%  100%-96,21%=3,79% 3,79%/2=1,895% */
	}
	.main-middle3 article:last-child{
		margin: 0 2,5% 25px 2,5%;;
	}
	.main-middle3 article h2{
		text-align: center;
	}
	.main-middle3 article p{
		text-align: center;
	}
	.main-middle3 article img{
		width: 95%;
	}
}
@media screen and (max-width:467px){
	.header-top{
		padding: 5px 0 20px 0;
	}
	.asus{
		float: none;
		margin: 0 auto 1% auto;
		display: table;
	}
	.tel-basket{
		float: none;
		margin: 0 auto 1% auto;
		display: table;
	}
}
@media screen and (max-width:390px){
	.my-slider ul li h1 {
		font-size: 15px;
		left: 100px;
		top: 30px;
	}
	.my-slider ul li p {
		font-size: 17px;
		left: 100px;
		top: 70px;
		color:#5615D8;
	}
	.main-middle4-article article{
		/* background: yellow; */
		width: 95%;/* 374/1166=0,3207*100=32,07 */
		float:none;
		margin: 0 2,5% 25px 2,5%; /* 32,07*3(количество картинок с ноутами)=96,21%  100%-96,21%=3,79% 3,79%/2=1,895% */
	}
	
	.main-middle4-article article:last-child{
		width: 95%;/* 374/1166=0,3207*100=32,07 */
		float:none;
		margin: 0 2,5% 25px 2,5%; /* 32,07*3(количество картинок с ноутами)=96,21%  100%-96,21%=3,79% 3,79%/2=1,895% */
	}
}
@media screen and (max-width:380px){
	.basket{
	padding: 4px 10px;
	 margin-left: 10px; 
}
}
@media screen and (max-width:315px){
	.basket{
	padding: 1px 2px;
	
	 margin-left: 0,5px; 
}
.my-slider ul li h1 {
	font-size: 20px;
	left: 20%;
	top: 20px;
}
.my-slider ul li p {
	font-size: 13px;
	left: 20%;
	top: 60px;
	font-weight: bold;
}
}